<div class="block-container card" (click)="openRent()">
  <div class="cart-img-top">
    <ngb-carousel
      (click)="prev($event)"
      [showNavigationIndicators]="false"
      [showNavigationArrows]="rent.imgs.length ? true : false"
      [interval]="0">
      <ng-template ngbSlide *ngFor="let img of rent.imgs">
        <img [src]="img" class="carousel-img" [alt]="img">
      </ng-template>
      <ng-template ngbSlide *ngIf="!rent.imgs.length">
        <div class="carousel-img no-photoes">
          <span>No Photoes</span>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="card-body">
    <div class="main-info row">
      <p class="price col-md-6 col-6">${{rent.price}}/month</p>
      <p class="rooms col-md-6 col-6">
        <span *ngIf="rent.beds">{{rent.beds}} Bed
          <span *ngIf="rent.beds &&rent.baths"> · </span>
        </span>
        <span *ngIf="rent.baths">{{rent.baths}} Bath</span>
      </p>
    </div>
    <p class="address" *ngIf="rent.address">{{rent.address.formated}}</p>
    <div class="update">last update {{rent.updated_at | amTimeAgo}}</div>
  </div>
</div>