.block-container {
  cursor: pointer;
  margin-bottom: 20px;
}

.block-container {
  box-shadow: none;
  transition: .3s;
}

.block-container:hover {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
  transition: .3s;
}

.carousel-img {
  width: 100%;
  max-height: 232px;
  height: 100%;
}

.no-photoes {
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b8977;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.block-body {
  font-size: 12px;
}

.main-info {
  font-weight: bold;

  .rooms {
    text-align: right;
  }

}

.update {
  font-size: 10px;
  text-align: right;
}