<div class="container">
  <div class="button-container-left">
    <button type="button" class="btn btn-outline-success" (click)="openLg(content)">Add new rent</button>
  </div>

  <div class="row rent-list-row">
    <app-rent-block
      *ngFor="let rent of rentList"
      class="col-md-4"
      [rent]="rent"></app-rent-block>
  </div>

  <ngb-pagination class="d-flex justify-content-center fixed-bottom"
    [collectionSize]="pages"
    [(page)]="page"
    [pageSize]="limit"
    (pageChange)="pageChange($event)"></ngb-pagination>

  <ng-template #content let-c="close" let-d="dismiss">
    <app-rent-form
      [closePopup]="d"
      (reloadPage)="pageChange($event)"></app-rent-form>
  </ng-template>
</div>
