/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: 100%;
}

* {
  outline: none !important;
}

.button-container-left {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.pac-container {
  z-index: 99999;
}

.pac-logo:after {
  display: none;
}

.nav-link {
  cursor: pointer
}

.top-photoes-rent-page {
  overflow: hidden;
  height: 500px;
  position: relative;

  @media (max-width: 1200px) {
    height: 360px;
  }

  .carousel-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .carousel-inner {
    height: 100%;
    width: 100%;
  }
  
  .carousel-item {
    height: 100%;
    width: 100%;
  }
  
  .carousel {
    position: absolute;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  
  .carousel-img[_ngcontent-c1] {
    height: 100%;
  }
  
  .no-photoes {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b8977;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  
    @media (max-width: 1200px) {
      height: 840px;
    }
  }
}

.no-paddings {
  padding: 0;
}

.row {
  margin: 0;
}

.inline-row {
  display: flex;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}